.container{
    display: flex;
}
.left-col{
    flex:2;
}
.right-col{
    flex:1;
    align-items: flex-start;
    background-color: rgb(230, 227, 227);
    border-radius: 4px;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid rgb(180, 179, 179);
    height: fit-content;
}
.div1{
    background-color: rgb(230, 227, 227);
    border-radius: 4px;
    min-height: fit-content;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid rgb(180, 179, 179);
}
.img1{
    height: 5rem;
}